.contact {
    margin-top: 40px;
    max-width: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    bottom: 0;
}

.contact a img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 4px;
}

.contact a img:hover {
    transform: translateY(-3px);
    transition: all 0.2s;
}