.main-container h1 {
    text-align: center;
}

.frontend {
    width: 980px;
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
    text-align: left;
}

.frontend p {
    font-size: 20px;
    padding: 0px 30px;
}

.frontend img {
    max-width: 320px;
    max-height: 320px;
    border-radius: 4px;
}