.main-container {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.section-box {
    display: flex;
    flex-direction: row;
    width: 980px;
    padding: 20px 0px;
}

.section-box p {
    font-size: 20px;
    padding: 0px 30px;
}

.section-box img {
    max-width: 320px;
    max-height: 320px;
}

.section-box .techs-box {
    max-height: 320px;
    margin-left: 30px;
    border-radius: 4px;
    padding: 20px 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.section-box .techs-box ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 500px;
    margin-top: 10px;
}


