@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}


:root {
  --zinc-900: #18181b;

  --gray-200: #e5e7eb;
  --gray-500: #9ca3af;
  --gray-950: #030712;

  --blue-500: #60a5fa;
  --blue-gradient: linear-gradient(to right, #60a5fa, #1e40af);
}

h1 {
  font-size: 40px;
  font-weight: 900;
}

h2 {
  font-size: 32px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--gray-500);
  transition: 0.3s;
}

a:hover {
  color: var(--gray-900);
}

.gradient-text {
  background: var(--blue-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

