.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.header-bar > nav {
  display: flex;
  gap: 8px;
}

.nav-link {
  color: var(--primary-text-color);
}