.footer {
    width: 100vw;
    display: flex;
    bottom: 0;
    position: fixed;
}

.footer .buttons {
    display: flex;
    align-items: center;
    width: 300px;
    height: 50px;
}

.footer .buttons a {
    padding: 5px 0px;
    background-color: #9A48D0;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.footer .buttons a img {
    max-width: 30px;
    max-height: 30px;
}

.footer .buttons a:hover {
    transform: translateY(-3px);
    transition: all 0.2s;
}