.works-container {
  width: 100%;
  display: flex;
  position: relative;
}

.works-title {
  text-align: right;
  width: 35%;
  position: absolute;
  top: 10%;
  right: 10%;
}

.works-list {
  width: 65%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: flex;
  flex-direction: row;
  flex: 0 auto;
  justify-content: flex-start;
  align-self: stretch;
  align-items: flex-start;
}

.left-side {
  width: 45%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.right-side {
  width: 55%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.works-item {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.works-item:hover .works-description {
  top: 0; 
  cursor: pointer;
}

.works-item:not(:hover) .works-description {
  top: -100%;
}

.works-item > img {
  width: 100%;
  height: auto;
}

.works-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: top 0.4s ease;
}

.works-description > h1 > a {
  font-weight: 900;
}

.works-description > span {
  font-weight: 500;
}