* {
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-y: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body, #root {
  height: 100%;
  
}

body {
  background: #F0F0F0;
}


h1 {
  font-size: 26px;
  font-weight: 500;
  color: #9A48D0;
}

p {
  font-size: 18px;
  font-weight: 100;
}